---
import SlidesShow from "./SlidesShow.astro";
import { t } from "i18next";
---

<section class="px-4 pb-8 max-w-md mx-auto md:max-w-6xl lg:pb-10">
  <div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
    <h2
      class="max-w-lg mb-2 text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group font-heading"
    >
      <span class="inline-block mb-1 sm:mb-4"
        >{t("facilities.title")}<br class="hidden md:block" />
      </span>
    </h2>
  </div>

  <div class="max-w-md md:max-w-3xl mx-auto">
    <SlidesShow />
  </div>
</section>
