---
import { getPermalink } from "~/utils/permalinks";
---

<footer class="border-t border-gray-200 dark:border-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-8 md:py-12">
      <div class="footer-item">
        © 2023 Princes Street Hostel All Rights Reserved
      </div>
      <div class="footer-item">
        5 West Register Street<br />Edinburgh EH2 2AA - United Kingdom
      </div>
      <div class="footer-item">
        +44 131 556 6894<br />hello@princesstreethostel.com
      </div>
      <div
        class="footer-item mb-0 hover:underline transition duration-150 ease-in-out"
      >
        <a href={getPermalink("terms-and-conditions")}>Terms & conditions</a>
      </div>
    </div>
  </div>
</footer>
