---
import { Icon } from "astro-icon";
import Logo from "~/components/atoms/Logo.astro";
import ToggleTheme from "~/components/core/ToggleTheme.astro";
import ToggleMenu from "~/components/core/ToggleMenu.astro";

import { getHomePermalink, getPermalink } from "./../../utils/permalinks";

/* TODO:
    - Change the menu on small screen (it's ugly for now)
*/
---

<header
  class="sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm"
  id="header"
>
  <div
    class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4"
  >
    <div class="flex justify-between">
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
      <div class="flex items-center md:hidden">
        <ToggleTheme />
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="items-center w-72 mx-auto md:w-auto md:mx-0 hidden md:flex text-gray-600 dark:text-slate-200 h-[calc(100vh-100px)] md:h-auto overflow-y-auto md:overflow-visible"
      aria-label="Main navigation"
    >
      <ul
        class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-base"
      >
        <li
          class="dropdown border-b border-gray-200 dark:border-slate-600 md:border-none"
        >
          <a
            class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href={getHomePermalink()}>Home</a
          >
        </li>
        <li
          class="border-b border-gray-200 dark:border-slate-600 md:border-none"
        >
          <a
            class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href={getPermalink("rooms")}
            >Rooms
          </a>
        </li>
        <li
          class="border-b border-gray-200 dark:border-slate-600 md:border-none"
        >
          <a
            class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href={getPermalink("faq")}
            >FAQ
          </a>
        </li>

        <li
          class="md:hidden mt-8 rounded-lg bg-green-100 border border-green-600 dark:bg-transparent"
        >
          <a
            class="text-gray-700 dark:text-slate-200 hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center justify-between transition duration-150 ease-in-out"
            href="https://wa.me/447553137828"
            rel="noopener"
            target="_blank"
          >
            Contact us on WhatsApp
            <Icon
              name="tabler:brand-whatsapp"
              class="w-5 h-5 ml-4 text-green-600"
            />
          </a>
        </li>

        <li
          class="md:hidden mt-4 rounded-lg bg-red-100 border border-red-600 dark:bg-transparent"
        >
          <a
            class="text-gray-700 dark:text-slate-200 hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center justify-between transition duration-150 ease-in-out"
            href="mailto:hello@princesstreethostel.com"
            aria-label="PSH mail"
            rel="noopener"
          >
            Write us an Email
            <Icon name="tabler:mail" class="w-5 h-5 ml-4 text-red-600" />
          </a>
        </li>
      </ul>
      <div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
        <div class="hidden items-center md:flex">
          <ToggleTheme iconClass="w-5 h-5" />
          <a
            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5 inline-flex items-center"
            aria-label="PSH WhatsApp"
            href="https://wa.me/447553137828"
            rel="noopener"
            target="_blank"
          >
            <Icon name="tabler:brand-whatsapp" class="w-5 h-5" />
          </a>
          <a
            href="mailto:hello@princesstreethostel.com"
            class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5"
            aria-label="PSH mail"
            rel="noopener"
          >
            <Icon name="tabler:mail" class="w-5 h-5" />
          </a>
          <!-- <a
            href="https://www.tripadvisor.com/Hotel_Review-g186525-d1413345-Reviews-Princes_Street_Hostel-Edinburgh_Scotland.html"
            class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5"
            aria-label="PSH Tripadvisor"
            rel="noopener"
            target="_blank"
          >
            <Icon name="tabler:brand-tripadvisor" class="w-5 h-5" />
          </a> -->
        </div>
      </div>
    </nav>
  </div>
</header>
