---
import { Icon } from "astro-icon";
import SlidesShow from "./SlidesShow.astro";
import { Trans } from "astro-i18next/components";
---

<section>
  <!-- <div style="height: 558px;">
    <img
      src="/src/assets/images/hero/02_edinburgh-calton-hill.jpg"
      class="w-full h-full object-cover"
      alt=""
    />
  </div> -->
  <div id="hero-img" class="relative">
    <img
      src="/src/assets/images/hero/04_edinburgh-street-group.jpg"
      class="w-full h-full object-cover"
      alt=""
    />
    <div class="absolute top-1/4 left-1/4 z-10"></div>
  </div>

  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 pt-8 md:py-20 md:pt-16">
      <div class="text-center max-w-5xl mx-auto">
        <h1
          class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading"
        >
          Princes Street Hostel
        </h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            <Trans i18nKey="index.hero-text">
              <span
                class="font-semibold underline decoration-secondary-600 underline-offset-2"
              ></span>
              <span class="inline sm:hidden"></span>
              <span class="hidden sm:inline"></span>
            </Trans>
          </p>
          <div
            class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4"
          >
            <div class="flex w-full sm:w-auto">
              <a
                class="btn btn-primary sm:mb-0 w-full"
                href="https://beds24.com/booking2.php?propid=150425"
                target="_blank"
                rel="noopener"
              >
                BOOK NOW
                <Icon
                  name="tabler:chevron-right"
                  class="w-5 h-5 ml-1 -mr-1.5"
                />
              </a>
            </div>
            <div class="flex w-full sm:w-auto">
              <a class="btn w-full" href="#offer">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- <SlidesShow /> -->
      </div>
    </div>
  </div>
</section>

<style>
  @media (max-width: 640px) {
    #hero-img {
      height: 500px;
    }
  }

  @media (min-width: 641px) {
    #hero-img {
      height: 560px;
    }
  }
</style>
