---
import { Trans } from "astro-i18next/components";
import { t } from "i18next";
const images = await Astro.glob("~/assets/images/hero-hq/**.jpg");
---

<section>
  <div id="hero-img" class="relative">
    <img
      src={images[0].default.src}
      class="w-full h-full object-cover"
      alt=""
    />
    <div
      class="absolute transform left-1/2 -translate-x-1/2 top-3/4 -translate-y-2/4 sm:-translate-y-3/4 z-10 text-white font-semibold uppercase"
    >
      <div class="flex flex-col items-center">
        <h1
          class="bg-white dark:bg-slate-900 text-gray-900 dark:text-white px-2 py-1 mb-4 text-center w-min whitespace-nowrap"
        >
          Princes Street Hostel
        </h1>
        <h2 class="sm:hidden text-sm flex flex-col items-center">
          <div
            class="bg-white dark:bg-slate-900 text-gray-900 dark:text-white px-2 py-0.5 w-min whitespace-nowrap"
          >
            🧽 {t("common.value-proposition.first")}
          </div>
          <div
            class="bg-white dark:bg-slate-900 text-gray-900 dark:text-white px-2 py-0.5 my-2 w-min whitespace-nowrap"
          >
            👻 {t("common.value-proposition.third")}
          </div>
          <div
            class="bg-white dark:bg-slate-900 text-gray-900 dark:text-white px-2 py-0.5 w-min whitespace-nowrap"
          >
            📍 {t("common.value-proposition.second")}
          </div>
        </h2>
        <h2
          class="hidden sm:block bg-white dark:bg-slate-900 text-gray-900 dark:text-white text-sm px-2 py-1 whitespace-nowrap"
        >
          🧽 {t("common.value-proposition.first")} &nbsp;&sdot;&nbsp; 📍 {
            t("common.value-proposition.second")
          } &nbsp;&sdot;&nbsp; 👻
          {t("common.value-proposition.third")}
        </h2>
      </div>
    </div>
  </div>
</section>

<div class="max-w-6xl mx-auto px-4 sm:px-6">
  <div class="py-12 pt-8 md:py-20 md:pt-16">
    <div class="text-center max-w-5xl mx-auto">
      <div class="max-w-3xl mx-auto">
        <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
          <Trans i18nKey="index.hero-text">
            <span
              class="font-semibold underline decoration-secondary-600 underline-offset-2"
            ></span>
            <span class="inline sm:hidden"></span>
            <span class="hidden sm:inline"></span>
          </Trans>
        </p>
        <div class="m-auto">
          <div id="bookWidget-82775-150425-0-1674643010"></div>
        </div>
        <!-- <div
          class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4"
        >
          <div class="flex w-full sm:w-auto">
            <a
              class="btn btn-primary sm:mb-0 w-full"
              href="https://beds24.com/booking2.php?propid=150425"
              target="_blank"
              rel="noopener"
            >
              BOOK NOW
              <Icon name="tabler:chevron-right" class="w-5 h-5 ml-1 -mr-1.5" />
            </a>
          </div>
          <div class="flex w-full sm:w-auto">
            <a class="btn w-full" href="#offer">Learn more</a>
          </div>
        </div>
      </div> -->
      </div>
      <div>
        <!-- <SlidesShow /> -->
      </div>
    </div>
  </div>

  <script>
    // @ts-nocheck
    jQuery(document).ready(function () {
      jQuery("#bookWidget-82775-150425-0-1674643010").bookWidget({
        propid: 150425,
        availableBackgroundColor: "#4ade80",
        backgroundColor: "transparent",
        borderColor: "transparent",
        boxShadow: false,
        buttonBackgroundColor: "#1d4ed8",
        buttonTitle: "BOOK NOW",
        dateFormat: "dd/mm/yy",
        defaultNightsAdvance: 0,
        defaultNumNight: 2,
        formAction: "https://beds24.com/booking.php",
        formTarget: "_self",
        fontSize: "16px",
        peopleSelection: 1,
        searchLinkText: " ",
        showLabels: false,
        unavailableBackgroundColor: "#ef4444",
        widgetLang: "en",
        widgetType: "BookingStrip",
      });
    });
  </script>

  <style>
    @media (max-width: 640px) {
      #hero-img {
        height: 500px;
      }
    }

    @media (min-width: 641px) {
      #hero-img {
        height: 560px;
      }
    }
  </style>
</div>
