---
import { Trans } from "astro-i18next/components";
import { t } from "i18next";
import Logo from "~/components/atoms/Logo.astro";
const images = await Astro.glob("~/assets/images/hero-hq/**.jpg");
---

<section>
  <div id="hero-img" class="relative">
    <img
      src={images[0].default.src}
      class="w-full h-full object-cover"
      alt=""
    />
    <div
      class="absolute transform top-1/4 -translate-y-full left-1/2 -translate-x-1/2 md:top-1/2 md:translate-y-1/4 z-10"
    >
      <div class="flex flex-col items-center px-4 py-2 bg-white">
        <Logo />
      </div>
    </div>
    <div
      class="w-full absolute bottom-0 md:bottom-1/4 md:translate-y-1/2 left-1/2 -translate-x-1/2 bg-transparent"
    >
      <div id="bookWidget-82775-150425-0-1674643010"></div>
    </div>
  </div>
</section>

<div class="max-w-6xl mx-auto px-4 sm:px-6">
  <div class="py-12 md:py-20">
    <div class="flex justify-center mb-8">
      <h2
        class="text-sm sm:text-base bg-white border-y-4 border-yellow-500 dark:bg-slate-900 text-gray-900 dark:text-white px-2 py-1 whitespace-nowrap"
      >
        🧽 {t("common.value-proposition.first")} &nbsp;&sdot;&nbsp; 📍 {
          t("common.value-proposition.second")
        } &nbsp;&sdot;&nbsp; 👻
        {t("common.value-proposition.third")}
      </h2>
    </div>
    <div class="text-center max-w-5xl mx-auto">
      <div class="max-w-3xl mx-auto">
        <p class="text-xl text-gray-600 dark:text-slate-400">
          <Trans i18nKey="index.hero-text">
            <span
              class="font-semibold underline decoration-secondary-600 underline-offset-2"
            ></span>
            <span class="inline sm:hidden"></span>
            <span class="hidden sm:inline"></span>
          </Trans>
        </p>
      </div>
    </div>
  </div>

  <script>
    // @ts-nocheck
    jQuery(document).ready(function () {
      jQuery("#bookWidget-82775-150425-0-1674643010").bookWidget({
        propid: 150425,
        availableBackgroundColor: "#4ade80",
        backgroundColor: "transparent",
        borderColor: "transparent",
        boxShadow: false,
        buttonBackgroundColor: "#1d4ed8",
        buttonTitle: "BOOK NOW",
        dateFormat: "dd/mm/yy",
        defaultNightsAdvance: 0,
        defaultNumNight: 2,
        formAction: "https://beds24.com/booking.php",
        formTarget: "_self",
        fontSize: "16px",
        peopleSelection: 1,
        searchLinkText: " ",
        showLabels: false,
        unavailableBackgroundColor: "#ef4444",
        widgetLang: "en",
        widgetType: "BookingStrip",
      });
    });
  </script>

  <style>
    @media (max-width: 640px) {
      #hero-img {
        height: 500px;
      }
    }

    @media (min-width: 641px) {
      #hero-img {
        height: 560px;
      }
    }
  </style>
</div>
