---
import { Icon } from "astro-icon";
import { t } from "i18next";
---

<section class="bg-primary-100 dark:bg-slate-800">
  <div
    class="max-w-6xl mx-auto px-4 sm:px-6 py-3 text-md text-gray-600 dark:text-gray-400 text-center font-medium"
  >
    <span class="font-bold">
      <Icon name="tabler:coin" class="w-5 h-5 inline-block align-text-bottom" />
    </span>
    <span>
      <a
        href="https://beds24.com/booking2.php?propid=150425"
        class="hover:underline hover:underline-offset-2"
        >Book direct for the best price
      </a>
    </span>
  </div>
</section>
