---
import Room from "./Room.astro";
import { t } from "i18next";

const rooms = [
  {
    name: "Double rooms",
    alt: "A double room",
    src: "psh-double-rooms-min.jpeg",
    desc: "Our hostel offers clean and cosy double rooms with shared bathrooms. Perfect for travellers on a budget, each room is equipped with comfortable beds and basic amenities. Guests have access to shared bathrooms and shower facilities. Our rooms are perfect for couples, friends or solo travellers who want to save money while still having a comfortable place to stay.",
  },
  {
    name: "Shared rooms",
    alt: "A dormitory",
    src: "psh-dormitory-1-min.jpeg",
    desc: "Our dormitory rooms are perfect for groups, friends and individual travellers on a budget. We offer 4-beds to 10-beds room options, all with shared bathroom facilities. Each bed is equipped with USB plugs and a locker to keep your personal belongings safe. Some of our dorms are female only so that everyone can feel comfortable. If you fancy making friends and enjoy the essence of what a hostel is you will love the budget friendly dorms!",
  },
  {
    name: "Private rooms",
    alt: "Another dormitory",
    src: "psh-dormitory-2-min.jpeg",
    desc: "Our quadruple and larger private rooms are perfect for groups, friends and families looking for a private comfortable and affordable accommodation in the heart of Edinburgh. Each room features multiple comfortable beds and shared bathroom facilities, providing everything you need for a pleasant stay. Each bed is equipped with USB plugs for your convenience.",
  },
];
---

<section class="px-4 py-16 max-w-md mx-auto md:max-w-6xl lg:py-20">
  <div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
    <h2
      class="max-w-lg mb-2 text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group font-heading"
    >
      <span class="inline-block mb-1 sm:mb-4"
        >Discover our Rooms<br class="hidden md:block" />
      </span>
    </h2>

    <p class="text-gray-700 dark:text-slate-400 lg:text-sm lg:max-w-md">
      Our hostel is divided into 4 levels. Our shared bathroom facilities are
      cleaned and maintained regularly to ensure they are always spotless.
    </p>
  </div>

  <div
    class="max-w-md md:max-w-6xl mx-auto grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-3 -mb-6"
  >
    {rooms.map((room) => <Room room={room} />)}
  </div>
</section>
