---
import { changeLanguage } from "i18next";
import { SITE } from "~/config.mjs";
import { getCanonical, getHomePermalink } from "~/utils/permalinks";
import Layout from "~/layouts/PageLayout.astro";
import HeroSecondVersionPosition from "~/components/widgets/HeroSecondVersionPosition.astro";
import Note from "~/components/widgets/Note.astro";
import GoogleReviews from "~/components/widgets/GoogleReviews.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features2 from "~/components/widgets/Features2.astro";
import GoogleMapWidget from "~/components/widgets/GoogleMap";

changeLanguage("en");

const meta = {
  title: SITE.title,
  description: SITE.description,
  canonical: getCanonical(getHomePermalink()),
};
---

<style>
  .description-2-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
    max-width: 1140px;
    margin: 0 auto;
  }

  /* .description-2-wrapper .amenities {
    margin-bottom: 1em;
  } */

  .description-2-wrapper .amenities,
  .need-to-know {
    width: 100%;
    border: 1px solid #e2e8f0;
  }

  .description-2-wrapper .amenities .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .description-2-wrapper .title {
    padding-left: 1em;
    margin-bottom: 0.25em;
  }

  .description-2-wrapper .list {
    margin-left: 2em;
  }

  @media (min-width: 760px) {
    .description-2-wrapper {
      grid-template-columns: 1fr 2fr;
      column-gap: 1em;
    }

    .description-2-wrapper .amenities .list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>

<Layout {meta}>
  <Note />
  <section>
    <div id="hero-img" class="relative mt-4">
      <div class="description-2-wrapper">
        <div class="need-to-know">
          <div class="title bg-primary-100">Need to know</div>
          <div class="list">
            <div class="item">Check in: From 15:00</div>
            <div class="item">Check out: Before 10:00</div>
          </div>
        </div>
        <div class="amenities">
          <div class="title bg-primary-100">Amenities in every room</div>
          <div class="list">
            <div class="item">- Bed linen</div>
            <div class="item">- WiFi in rooms</div>
            <div class="item">- Lock on doors</div>
            <div class="item">- Heating</div>
            <div class="item">- Hot water</div>
            <div class="item">- Smoke alarm</div>
          </div>
        </div>
      </div>
    </div>

    <style>
      @media (max-width: 640px) {
        #hero-img {
          height: 500px;
        }
      }

      @media (min-width: 641px) {
        #hero-img {
          height: 560px;
        }
      }
    </style>
  </section>
</Layout>
