---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
/* import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Steps from "~/components/widgets/Steps.astro";
import Features3 from "~/components/widgets/Features3.astro";
import Stats from "~/components/widgets/Stats.astro"; */
import GoogleReviews from "~/components/widgets/GoogleReviews.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features2 from "~/components/widgets/Features2.astro";
import GoogleMapWidget from "~/components/widgets/GoogleMap";
---

<Layout>
  <Hero />
  <!-- <Note />
  <Features />
  <Steps />
  <Features3 />
  <Stats /> -->
  <Features2 />
  <div class="max-w-4xl mx-auto py-12 md:py-20 px-8">
    <GoogleMapWidget
      client:load
      apiKey={import.meta.env.API_GOOGLE_MAP}
      mapWidth="100%"
    />
  </div>
  <GoogleReviews />
  <CallToAction />
</Layout>
