---
import { changeLanguage } from "i18next";
import { SITE } from "~/config.mjs";
import { getCanonical, getPermalink } from "~/utils/permalinks";
import Terms from "./../components/widgets/Terms.md";
import Layout from "~/layouts/PageLayout.astro";

changeLanguage("en-GB");

const meta = {
  title: `Terms and conditions — ${SITE.name}`,
  description: SITE.description,
  canonical: getCanonical(getPermalink("terms-and-conditions")),
};
---

<Layout {meta}>
  <div
    class="container mx-auto px-6 max-w-3xl prose prose-headings:text-center dark:prose-invert prose-a:text-primary-600 dark:prose-a:text-primary-400 my-8"
  >
    <article>
      <Terms />
    </article>
  </div>
</Layout>
