<div class="flex items-center">
  <span class="inline-block w-8 md:w-9">
    <img
      src={`${import.meta.env.BASE_URL}/assets/logo-reversed-min-resized.png`}
      alt="Logo Princes Street Hostel"
    />
  </span>
  <span class="ml-2">
    <div
      class="whitespace-nowrap tracking-tighter text-sm leading-none md:text-base md:leading-none"
    >
      Princes Street
    </div>
    <div
      class="tracking-widest font-semibold text-lg leading-none md:text-xl md:leading-none"
    >
      HOSTEL
    </div>
  </span>
  <!-- 
    <div class="leading-none"><em>Princes Street</em></div>
    <div class="text-2xl leading-none tracking-wider font-semibold">HOSTEL</div>
   -->
</div>
