---
import { changeLanguage } from "i18next";
import { SITE } from "~/config.mjs";
import { getCanonical, getHomePermalink } from "~/utils/permalinks";
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import GoogleReviews from "~/components/widgets/GoogleReviews.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features2 from "~/components/widgets/Features2.astro";
import GoogleMapWidget from "~/components/widgets/GoogleMap";

changeLanguage("es");

const meta = {
    title: SITE.title,
    description: SITE.description,
    canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
  <Note />
  <Hero />
  <Features2 />
  <div class="max-w-4xl mx-auto py-12 md:py-20 px-6">
    <GoogleMapWidget
      client:visible
      apiKey={import.meta.env.API_GOOGLE_MAP}
      mapWidth="100%"
    />
  </div>
  <GoogleReviews />
  <CallToAction />
</Layout>
